################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AcuStock/obj
/AcuStock/bin/Debug
/packages
/.vs
